.DS_Store
venv/
.python-version
title_0.npz
.ipynb_checkpoints
weights
.idea
__pycache__/
*.db
fine-tuned-bert-11102023/
fine-tuned-bert-22092023/
*.png
*.jpeg
*.jpg
*.PDF
*.pdf
*.zip
*.docx
*.doc
*.gif
*.MOD
.env
